@import "media";

nav {
  position: sticky !important;
  top: 0;
  background-color: #006699;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4);
}

#projectsWrap {
  padding: 20px 0.3rem;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 40px;
}

.project {
  position: relative;
  margin-top: 6rem;
  border-top-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.2);

  @include widerThan768 {
    &:nth-child(even) .projectBody {
      flex-direction: row-reverse;
    }
    &:nth-child(even) .projectBody .projectDescription {
      margin: 0;
      margin-left: 40px;
    }
    &:nth-child(odd) .projectBody .projectDescription {
      margin: 0;
      margin-right: 40px;
    }
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color: #006699;
    color: #fff;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 6px 0 18px rgba(0, 0, 0, 0.2);

    @include widerThan768 {
      padding: 1rem 1.5rem;
    }

    .title {
      margin: 0;
      margin-right: 10px;
      width: max-content !important;
      text-decoration: none;
      font-weight: 600;
    }
  }

  .projectBody {
    background-color: #eee;
    padding: 0.8rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    @include widerThan768 {
      padding: 1rem 2rem;
      flex-direction: row;
      align-items: flex-end;
    }

    .demo {
      width: 100%;
      height: auto;
      transform-origin: right;
      transition: transform 0.3s ease-in-out;
      position: relative;

      // for video

      video {
        max-width: 100%;
        height: auto;
      }

      //end here

      &:hover .slide_previous,
      &:hover .slide_next {
        opacity: 1;
      }

      @include widerThan768 {
        min-width: 600px;
      }

      .slide_previous,
      .slide_next {
        font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
        border: none;
        background-color: #333;
        color: #eee;
        border-radius: 0.5rem;
        padding: 0.5rem 0.7rem;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);

        &:hover,
        &:focus {
          background-color: #444;
        }

        @include widerThan768 {
          padding: 1rem 1.2rem;
        }
      }
      .slide_previous {
        left: 0;
      }
      .slide_next {
        right: 0;
      }

      .slideShow_image {
        width: 100%;
        height: auto;
        transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
      }
    }

    .projectDescription {
      background-color: #fff;
      color: #333;
      padding: 1rem 0.8rem;
      border-radius: 1rem;
      line-height: 150%;
      margin: 0;
      margin-top: 20px;
      box-shadow: 6px 6px 12px -7px rgba(0, 0, 0, 0.4);

      .mark {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 2px;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      @include widerThan768 {
        // max-width: 700px;
        font-size: 1.2rem;
      }

      .btn {
        margin-top: 20px;
        border-radius: 0.5rem;
      }
    }
  }
}
